<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sprelf.canadatax"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CanadaTax"
        android:allowBackup="true"
        android:icon="@drawable/incometaxbig"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".InputActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OutputActivity"
            android:label="@string/Output_Title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/About_Title"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
